/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Link defualt : #1d574f
Link Visited : #244a4c;
Buttons : #11463e & #ffffff

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
  }
  
  h1 {
    font-size: 30px;
    font-weight: 900;
    margin-top: 100px;
    
  }
  
  h2 {
    font-size: 24px;
    font-weight: 900;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 900;
  }


  a {
    color: #1d574f;
  }
 
  a:visited {
    /* visited link */
    color: #f60000; 
  }

 a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none; opacity: 0.8;
}

 a:active {
   /* selected link */
   color: #141312;
 }

 /* Nav Bar tweeks */

 li {
  display: inline;
  float: right;
  margin-right: 20px;
  
}

.cv  {
  margin-right: auto;
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;
  margin-left: 0px;
  margin-top: 20px;
  
}

.button1 {
  

}


/* Some positioning experiments */

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.navigation-list__item--active
.navigation-list__item
{
  flex: 0 1 200px;
}
.navigation-list__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}


 .profile__portrait {
  float: left;
  width: 250px;
 
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
}
.profile {
  
  max-width: 700px;
  margin: 0 auto;
}


.intro_text {
 
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: left;
 

 
  
}

.main_intro_text {
  
  
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  
}

.skill_table {
  text-align: center;
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  
  
}


.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact_details_panel {
  text-align: center;
}

#contact-form {
  text-align: center;
  margin-top: 40px;
 
}


 button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #2bf5d6;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  text-align: right;
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

 
  /* get rid of nav bar underline */
  .navigation-list__item--active {
    text-decoration: none;
  }

  /* Work page styles */

  /* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
 
  }
  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
  
  }
 }

 
  /* Media Queries and widths should be at the end of the doc */

 

  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

  /* Animations */

  @keyframes color-change {
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }
  }


  @keyframes color-change {
    from {
      fill: #ff7f2a;
    }
    to {
      fill: #f7e414;
    }
  }

  @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }


  }
  .sun {
    animation: 4s color-change infinite alternate linear;
    
  }